#-----------------------------------------------------#
# => DOTNET PROJECTS #################################
#-----------------------------------------------------#

# Ignore build artifacts for all .NET projects under src
src/**/bin/
src/**/obj/

#-----------------------------------------------------#
# => CLIENT-APP #######################################
#-----------------------------------------------------#

# Ignore build output and dependencies
frontend/**/node_modules
frontend/**/dist
#-----------------------------------------------------#
