networks:
  icon_custom:
    driver: bridge
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${SLQSERVER_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - 1433:1433
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - icon_custom
  auth-svc:
    image: klusinyan/icon-auth-svc:latest
    build:
      context: .
      dockerfile: src/AuthService/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - ClientAppUrl=${CLIENT_APP_URL}
      - ConnectionStrings__DefaultConnection=${CONNECTIONSTRINGS_DEFAULTCONNECTION}
      - TokenKey=${TOKEN_KEY}
    ports:
      - 10001:8080
    depends_on:
      sqlserver:
        condition: service_started
    networks:
      - icon_custom
    healthcheck:
      test: ["CMD-SHELL", "curl -f -s http://localhost:8080/health || exit 1"]
      interval: 30s
      retries: 5
      start_period: 60s
      timeout: 10s
  task-svc:
    image: klusinyan/icon-task-svc:latest
    build:
      context: .
      dockerfile: src/TaskService/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTP_PORTS=8080
      - AuthServiceUrl=${AUTH_SERVICE_URL}
      - ClientAppUrl=${CLIENT_APP_URL}
      - ConnectionStrings__DefaultConnection=${CONNECTIONSTRINGS_DEFAULTCONNECTION}
      - TokenKey=${TOKEN_KEY}
      - AES__Key=${AES_KEY}
      - AES__IV=${AES_IV}
    ports:
      - 10002:8080
    depends_on:
      auth-svc:
        condition: service_healthy
    networks:
      - icon_custom
    healthcheck:
      test: ["CMD-SHELL", "curl -f -s http://localhost:8080/health || exit 1"]
      interval: 30s
      retries: 5
      start_period: 60s
      timeout: 10s
  client-app:
    image: klusinyan/icon-client-app:latest
    build:
      context: .
      dockerfile: frontend/client-app/Dockerfile
    ports:
      - 3000:80
      - 3001:443
    depends_on:
      sqlserver:
        condition: service_started
      auth-svc:
        condition: service_healthy
      task-svc:
        condition: service_healthy
    networks:
      - icon_custom
volumes:
  sqlserver_data: # Named volume for SQL Server
