.tasks-page {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   min-height: 0;
}

.tasks-toolbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.tasks-toolbar-left {
   display: flex;
   align-items: center;
}

.tasks-toolbar-right {
   display: flex;
}

.tasks-toolbar-filter {
   width: 200px;
}

.tasks-table-wrapper {
   flex: 1 1 auto;
   min-height: 0;

   /* Ant Design Table body scroll fix */
   .ant-table-body {
      overflow-y: auto !important;
   }
}