.layout {
   min-height: 100vh;
}

.layout-header {
   padding: 0 30px;
   display: flex;
   align-items: center;
   background-color: #ffffff;

   box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.08),
      0 2px 8px rgba(0, 0, 0, 0.06);
}