@use "./styles/index" as *;

:root {
   font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Helvetica, Arial, sans-serif;

   line-height: 1.5;
   font-weight: 400;

   color-scheme: light dark;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
   width: 100%;
   height: 100%;
   margin: 0;
}

body {
   min-width: 0;
   font-weight: 400;
   background-color: $bg-color;
}

strong,
b {
   font-weight: 600;
}

h1,
h2,
h3,
h4 {
   font-weight: 600;
}